@model IEnumerable<WebAppBlog.ViewModels.PostSummaryViewModel>

@{
    ViewData["Title"] = "Create";
}
<h1>
    @if (ViewData["CategoryName"] != null)
    {
        <span class="badge bg-secondary">@ViewData["CategoryName"]</span> @:글 목록
    }
    else
    {
        @:전체 글 목록
    }
</h1>
<hr />
<p>
    <a asp-action="Create">작성하기</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>제목</th>
            <th>생성일</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.CreatedAt.ToString("yyyy-MM-dd")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">수정하기</a> |
                <a asp-action="Details" asp-route-id="@item.Id">자세히 보기</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">삭제하기</a>
            </td>
        </tr>
}
    </tbody>
</table>
